basePath: /api
definitions:
  okr.KeyResult:
    properties:
      actual:
        description: Actual describe the actual of key result
        type: integer
      create_at:
        description: CreateAt describe the key result create milliseconds
        type: integer
      goal_id:
        description: GoalID describe the parent goal's id
        type: string
      id:
        description: ID describe the unique identify code of key result
        type: string
      target:
        description: Target describe the target of key result
        type: integer
      title:
        description: Title describe the title of key result
        type: string
    type: object
  okr.Objective:
    properties:
      create_at:
        description: CreateAt describe the objective create milliseconds
        type: integer
      end_at:
        description: EndAt describe the objective end time milliseconds
        type: integer
      id:
        description: ID describe the unique identify code of objective
        type: string
      key_results:
        description: KeyResults describe key results of objective
        items:
          $ref: '#/definitions/okr.KeyResult'
        type: array
      start_at:
        description: StartAt describe the objective start time milliseconds
        type: integer
      title:
        description: Title describe the title of objective
        type: string
    type: object
  todo.Task:
    properties:
      completed:
        description: Completed describe the completed of task
        type: boolean
      create_at:
        description: CreateAt describe the task create milliseconds
        type: integer
      id:
        description: ID describe the unique identify code of task
        type: string
      title:
        description: Title describe the title of task
        type: string
    type: object
info:
  contact:
    email: blackhorseya@gmail.com
    name: Sean Cheng
    url: https://blog.seancheng.space
  description: Lobster API
  license:
    name: GPL-3.0
    url: https://spdx.org/licenses/GPL-3.0-only.html
  title: Lobster API
  version: 0.0.1
paths:
  /liveness:
    get:
      consumes:
      - application/json
      description: to know when to restart an application
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Liveness
      tags:
      - Health
  /readiness:
    get:
      consumes:
      - application/json
      description: Show application was ready to start accepting traffic
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Readiness
      tags:
      - Health
  /v1/goals:
    get:
      consumes:
      - application/json
      description: List all objectives
      parameters:
      - default: 1
        description: page
        in: query
        name: page
        type: integer
      - default: 10
        description: size of page
        in: query
        name: size
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/okr.Objective'
            type: array
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: List all objectives
      tags:
      - Goals
    post:
      consumes:
      - application/json
      description: Create a objective
      parameters:
      - description: created objective
        in: body
        name: created
        required: true
        schema:
          $ref: '#/definitions/okr.Objective'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/okr.Objective'
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Create a objective
      tags:
      - Goals
  /v1/goals/{id}:
    delete:
      consumes:
      - application/json
      description: Get a objective by id
      parameters:
      - description: ID of objective
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "204":
          description: No Content
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Get a objective by id
      tags:
      - Goals
    get:
      consumes:
      - application/json
      description: Get a objective by id
      parameters:
      - description: ID of objective
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/okr.Objective'
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Get a objective by id
      tags:
      - Goals
    put:
      consumes:
      - application/json
      description: Update a objective by id
      parameters:
      - description: ID of objective
        in: path
        name: id
        required: true
        type: string
      - description: created objective
        in: body
        name: created
        required: true
        schema:
          $ref: '#/definitions/okr.Objective'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/okr.Objective'
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Update a objective by id
      tags:
      - Goals
  /v1/krs:
    get:
      consumes:
      - application/json
      description: List all key results
      parameters:
      - default: 1
        description: page
        in: query
        name: page
        type: integer
      - default: 10
        description: size of page
        in: query
        name: size
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/okr.KeyResult'
            type: array
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: List all key results
      tags:
      - KeyResults
  /v1/krs/{id}:
    get:
      consumes:
      - application/json
      description: Get a key result by id
      parameters:
      - description: ID of key result
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/okr.KeyResult'
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Get a key result by id
      tags:
      - KeyResults
  /v1/tasks:
    get:
      consumes:
      - application/json
      description: List all tasks
      parameters:
      - default: 1
        description: page
        in: query
        name: page
        type: integer
      - default: 10
        description: size of page
        in: query
        name: size
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: List all tasks
      tags:
      - Tasks
    post:
      consumes:
      - application/json
      description: Create a task
      parameters:
      - description: created task
        in: body
        name: created
        required: true
        schema:
          $ref: '#/definitions/todo.Task'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "201":
          description: Created
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Create a task
      tags:
      - Tasks
  /v1/tasks/{id}:
    delete:
      consumes:
      - application/json
      description: Delete a task by id
      parameters:
      - description: ID of task
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "204":
          description: No Content
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Delete a task by id
      tags:
      - Tasks
    get:
      consumes:
      - application/json
      description: Get a task by id
      parameters:
      - description: ID of task
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Get a task by id
      tags:
      - Tasks
    put:
      consumes:
      - application/json
      description: Update a task by id
      parameters:
      - description: ID of task
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Update a task by id
      tags:
      - Tasks
swagger: "2.0"
